<<<<<<< HEAD
=======
* {
    box-sizing: border-box;
}

>>>>>>> gh-pages
.body {
    background-color: #99CCCC;

}

.container {
    width: 1160px;
    margin: 0 auto;
}

.menu {
    margin: 0 auto;
}

.menu_list {
    width: 800px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    list-style: none;

    a {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #6699CC;
        text-decoration: none;
        list-style: none;
    }
}

a {
    color: #6699CC;
    text-decoration: none;
    list-style: none;

}

a:hover {
    color: #FCDB2B;
}

// a:visited{
//     // color: #B09A27;
// }

h1 {
    color: #736002;
}

span {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6699CC;
}

.header {
    background-color: #003333;
    color: #FFFFFF;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


}



.main {
    width: 100%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;

    /* margin: 0 auto; */
<<<<<<< HEAD
=======
    &-container {
        overflow: hidden;
    }

>>>>>>> gh-pages
    &-inner {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        margin: 0 auto;
<<<<<<< HEAD
=======
        overflow-y: hidden;
        overflow-x: hidden;
        overflow: hidden;
>>>>>>> gh-pages

        .flex-item {
            width: 700px;
            // height: 150px;
            margin: 15px auto;
        }

        .title {
            font-size: 20px;
            margin-bottom: 10px;
            color: #736002;

            &-underline {
                height: 2px;
                width: 100%;
                background-color: #003333;
                margin: 5px 0px;
            }
        }

    }

    .Author {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-photo {
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            width: 150px;
            height: 150px;
        }

        &-photo img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-description {}
    }


}

.Skills {
    &-item {
        min-height: 30px;
        padding-left: 40px;
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: left center;
        list-style: none;
    }

    &-list li:nth-child(1) {
        background-image: url(./img/html.svg)
    }

    &-list li:nth-child(2) {
        background-image: url(./img/css.svg)
    }

    &-list li:nth-child(3) {
        background-image: url(./img/javascript.svg)
    }

    &-list li:nth-child(4) {
        background-image: url(./img/github.svg)
    }

    &-list li:nth-child(5) {
        background-image: url(./img/figma.svg)
    }

}

.Contact {
    &-item {
        min-height: 30px;
        padding-left: 40px;
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: left center;
        list-style: none;
    }

    &-list li:nth-child(1) {
        background-image: url(./img/Telegram.png);
    }

    &-list li:nth-child(2) {
        background-image: url(./img/gmail-icon-logo.svg);
    }

    &-list li:nth-child(3) {
        background-image: url(./img/github.svg)
    }

    &-list li:nth-child(4) {
        background-image: url(./img/discord-icon.svg)
    }
}

<<<<<<< HEAD

=======
>>>>>>> gh-pages
.footer {
    background-color: #003333;
    color: #FFFFFF;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
<<<<<<< HEAD
    &-img {
        height: 35px;
    }

=======

    &-img {
        height: 35px;
    }
>>>>>>> gh-pages
}